<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PPW ASIQUE</title>
  </head>
  <body>
    <body bgcolor="#FFA07A">
    <center>
    <font size="4" color="#ffffff">
    <h1>Hello World!:( </h1>
    <p style="background-color:Tomato;">
    <font face="georgia" size="3" color="#ffffff">
    <b>Alhamdulillah caca bisa bikin web :((( </b>
    </p>
      <p style="border: dashed 2px #ee3f10; padding: 15px; margin: 0; text-align: center;; line-height: 23px; color: #ffffff; font-size: 18px; font-style:georgia">
      <b>Salsabila Maurizka</b></p>
      <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/29028031_1228015937330953_2639126544328425472_n.jpg?_nc_cat=0&oh=f38ec21b788e2226c2e48ff7f72a7426&oe=5BF11766"
      alt="" width="400px" height="300px">
      <article>Nama           : {{name}}</article>
      <article>NPM            : {{npm}}</article>
      <article>Tempat kuliah  : {{tempat_kuliah}}</article>
      <article>Hobi           : {{hobi}}</article>
      <article>I am {{age}} years old </article>
      <article>I love fencing:)</article>
    <p></p>
    <p></p>
    <p>
      <p style="border: dashed 2px #ee3f10; padding: 15px; margin: 0; text-align: center;; line-height: 23px; color: #ffffff; font-size: 18px; font-style:georgia" >
      <b>Laila Saffanah</b></p>
      <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/41261924_2606314632715681_3784973194121707520_n.jpg?_nc_cat=0&oh=85cbac07c88b506b1a88b4008a28661d&oe=5C333A31"
       alt="" width="300px" height="300px">
      <font size="3" color="#ffffff">
      <article>Nama           : {{kanan_name}}</article>
      <article>NPM            : {{npm1}}</article>
      <article>Major          : {{major}}</article>
      <article>Tempat kuliah  : {{univ}}</article>
      <article>{{desc}}</article>
    </p>
    <p></p>
    <p></p>
    <p>
      <p style="border: dashed 2px #ee3f10; padding: 15px; margin: 0; text-align: center;; line-height: 23px; color: #ffffff; font-size: 18px; font-style:georgia">
      <b>Puspacinantya</b></p>
      <img src="https://i.imgur.com/3niKvAk.jpg" alt="" width="600" height="500">
      <font size="3" color="#ffffff">
      <article>Nama           : {{kiri_name}}</article>
      <article>NPM            : {{npm2}}</article>
      <article>Hobi           : {{hobi2}}</article>
      <article>{{desc2}}</article>
    </p>
  </font><br>

  </body>
</html>
